/* NOTE: Some SwatToolLink styles are overridden in swat-toolbar.css when
         SwatToolLinks are contained in a SwatToolBar, yo!
 */

.swat-tool-link,
.swat-tool-link-insensitive {
	padding: 2px 4px;
	border: 1px solid #f0eade;
	text-decoration: none;
	background-color: #f9f7f2;
}

.swat-tool-link-insensitive {
	color: #b4a386;
}

a.swat-tool-link:hover {
	text-decoration: underline;
	background-color: #f3efe5;
}

.swat-toolbar .swat-tool-link-add:link,
.swat-tool-link-add:link,
.swat-toolbar .swat-tool-link-add:visited,
.swat-tool-link-add:visited,
.swat-toolbar .swat-tool-link-create:link,
.swat-tool-link-create:link,
.swat-toolbar .swat-tool-link-create:visited,
.swat-tool-link-create:visited {
	background-image: url(../images/swat-tool-link-create.png);
	background-position: 6px center;
	background-repeat: no-repeat;
	color: #438d04;
	padding-left: 28px;
}

a.swat-tool-link-add:hover,
a.swat-tool-link-create:hover,
.swat-toolbar a.swat-tool-link-add:hover,
.swat-toolbar a.swat-tool-link-create:hover {
	background-image: url(../images/swat-tool-link-create.png);
}

.swat-toolbar .swat-tool-link-delete:link,
.swat-tool-link-delete:link,
.swat-toolbar .swat-tool-link-delete:visited,
.swat-tool-link-delete:visited {
	background-image: url(../images/swat-tool-link-delete.png);
	background-position: 6px center;
	background-repeat: no-repeat;
	color: #c00;
	padding-left: 28px;
}

.swat-toolbar a.swat-tool-link-delete:hover,
a.swat-tool-link-delete:hover {
	background-image: url(../images/swat-tool-link-delete.png);
}

.swat-toolbar .swat-tool-link-cancel:link,
.swat-tool-link-cancel:link,
.swat-toolbar .swat-tool-link-cancel:visited,
.swat-tool-link-cancel:visited {
	background-image: url(../images/swat-tool-link-cancel.png);
	background-position: 6px center;
	background-repeat: no-repeat;
	color: #c00;
	padding-left: 28px;
}

.swat-toolbar a.swat-tool-link-cancel:hover,
a.swat-tool-link-cancel:hover {
	background-image: url(../images/swat-tool-link-cancel.png);
}

.swat-toolbar .swat-tool-link-edit:link,
.swat-tool-link-edit:link,
.swat-toolbar .swat-tool-link-edit:visited,
.swat-tool-link-edit:visited {
	background-image: url(../images/swat-tool-link-edit.png);
	background-position: 6px center;
	background-repeat: no-repeat;
	padding-left: 28px;
}

.swat-toolbar a.swat-tool-link-edit:hover,
a.swat-tool-link-edit:hover {
	background-image: url(../images/swat-tool-link-edit.png);
}

.swat-toolbar .swat-tool-link-print:link,
.swat-tool-link-print:link,
.swat-toolbar .swat-tool-link-print:visited,
.swat-tool-link-print:visited {
	background-image: url(../images/swat-tool-link-print.png);
	background-position: 6px center;
	background-repeat: no-repeat;
	padding-left: 28px;
}

.swat-toolbar a.swat-tool-link-print:hover,
a.swat-tool-link-print:hover {
	background-image: url(../images/swat-tool-link-print.png);
}

.swat-toolbar .swat-tool-link-email:link,
.swat-tool-link-email:link,
.swat-toolbar .swat-tool-link-email:visited,
.swat-tool-link-email:visited {
	background-image: url(../images/swat-tool-link-email.png);
	background-position: 6px center;
	background-repeat: no-repeat;
	padding-left: 28px;
}

.swat-toolbar a.swat-tool-link-email:hover,
a.swat-tool-link-email:hover {
	background-image: url(../images/swat-tool-link-email.png);
}
