/* SwatActions */
.swat-actions .swat-actions-controls * {
	vertical-align: middle;
}

.swat-actions .swat-actions-message {
	border: 1px solid #f0dca1;
	background-color: #fffbc9;
	color: #7b4b09;
	margin: 0 0 0 7px;
	padding: 5px 25px 5px 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	position: relative;
}

.swat-actions .swat-actions-message-dismiss-link,
.swat-actions .swat-actions-message-dismiss-link:link,
.swat-actions .swat-actions-message-dismiss-link:visited {
	display: block;
	font-size: 85%;
	position: absolute;
	top: 5px;
	right: 10px;
	height: 14px;
	width: 14px;
	background: url(../images/dismiss.png) 0 0 no-repeat;
	text-indent: -2000em;
	text-decoration: none;
	outline: none;
}

.swat-actions .swat-actions-message-dismiss-link:hover {
	background-position: 0 -14px;
}

.swat-actions label {
	display: inline;
}
