div.swat-textarea-container textarea {
	margin: 0;
	padding: 0;
}

div.swat-textarea-resize-handle {
	background: #f8f6f0 url(../images/swat-textarea-resize-handle.png) center center no-repeat;
	border-bottom: 1px solid #dcceb2;
	margin: 0;
	padding: 0;
	cursor: s-resize;
}
